.container {
    width: 100%;
    margin: 0 auto;
}
html {
    margin: auto;
}
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}
header {
    background: #222222;
    color: #c58b22;
    padding: 14px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color:#c58b22;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 71px;
    line-height: 98px;
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 48px;
    font-weight: bold;
}
.logo {
    background: #c58b22;
    width: auto;
    padding: 18px;
}
.current a {
    color:#222222;
    background: #c58b22;
}
.search-bar {
    position: relative;
    display: flex;
}
.search {
    border: none;
    height: 25px;
    width: 100%;
    padding: 2px 140px;
}

/*===== WELCOME SECTION=====*/

.connect-button button {
    background-color: #c58b22;
    color: black;
    border: none;
    padding: 35px 32px;
    font-size: 21px;
}
.welcome-text {
    color: white;
    font-size: 14px;
    line-height: 21px;
}

/*===== ABOUT SECTION =====*/

.section-about {
    background-color: #ffe6ac;
    padding: 12px;
    line-height: 21px;
}
.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.about-heading {
    padding-top: 45px;
    padding-bottom: 45px;
}
.about-p {
    padding: 8px;
}

/*===== SERVICES SECTION =====*/

.section-services {
    padding: 50px;
}
.service-img {
    width: 100%;
}
.buffer {
    background-color: white;
    padding: 10px;
}
.heading-text {
    font-size: 48px;
    font-weight: bold;
}
.service-text {
    padding: 15px;
}
.service-button button {
    background-color: #222222;
    border: none;
    color: white;
    padding: 35px 32px;
    font-size: 21px;
    margin-left: 15px;
    margin-bottom: 15px;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 14px;
}
.digital-transformation {
    background-color: #ffe6ac;
    line-height: 21px;
}
.marketing {
    background-color: #ffe6ac;
    line-height: 21px;
}
.video-production {
    background-color: #ffe6ac;
    line-height: 21px;
}
.web-development {
    background-color: #ffe6ac;
    line-height: 21px;  
}
.print {
    background-color: #ffe6ac;
    line-height: 21px;
}

/*===== OUR VISION SECTION=====*/

.section-vision {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.vision-button button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-color: #c58b22;
    padding: 35px 50px;
    font-size: 21px;
}

/*====== OUR TEAM SECTION =====*/

.section-team {
    padding: 50px;
}
.team-img {
    width: 100%;
}
.team-john {
    background-color: #ffe6ac;
    line-height: 21px;
}
.team-bob {
    background-color: #ffe6ac;
    line-height: 21px;
}
.team-text {
    padding: 15px;
}
h4 {
    padding-left: 15px;
    font-weight: bold;
}
hr {
    border: none;
    height: 2.5px;
    background: #c58b22;
    margin: 15px;
}

/*===== CONTACT SECTION =====*/

.contact-us {
    padding-bottom: 20px;
}
.input-box {
    width: 100%;
    padding: 5px;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
}
.message-input-box {
    width: 85%;
    padding:60px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.send-button button {
    background-color: #222222;
    border: none;
    color:#c58b22;
    font-size: 21px;
    padding: 5px;
    margin-top: 15px;
}
.section-contact {
    margin: 0 auto;
}
.hours {
    border: 1px solid black;
    padding: 15px;
}
table {
    width: 100%;
}
.table-top {
    background-color: #ffe6ac;
    text-align: center;
}

/*===== FOOTER SECTION =====*/

footer {
    background-color: #222222;
    color: #c58b22;
    padding: 10px;
}
a {
    background-color: #222222;
    color: #c58b22;
}
.footer-text {
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 10px;
}

/*this just sets the width for accuracy to the mock up*/
/*do not put anything else in this media query!*/

@media screen and (min-width: 760px){
    .container {
        width: 706px;
    }
}

/*====== DESKTOP STYLES ======*/

@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
}