.container {
    width: 100%;
    margin: 0 auto;
}
html {
    margin: auto;
}
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}
header {
    background: #222222;
    color: #c58b22;
    padding: 14px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color:#c58b22;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 71px;
    line-height: 98px;
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 48px;
    font-weight: bold;
}
.logo {
    background: #c58b22;
    width: auto;
    padding: 18px;
}
.current a {
    color:#222222;
    background: #c58b22;
}
.search-flex {
    display: flex;
}
.search-bar {
    width: 100%;
}
.search {
    width: 98%;
    padding: 5px;
}
::placeholder {
    font-size: 18px;
}
.search-icon button {
    background-color: #222222;
    border: #c78c06;
    border-style: solid;
    border-width: 2px;
}

/*===== WELCOME SECTION=====*/

.section-welcome {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
}
.welcome-info {
    background-color: rgba(0, 0, 0, 0.6);
}
.connect-button button {
    background-color: #c78c06;
    color: black;
    border: none;
    padding: 25px 20px;
    font-size: 21px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.welcome-text {
    color: white;
    font-size: 14px;
    line-height: 21px;
}

/*===== ABOUT SECTION =====*/

.section-about {
    background-color: #ffe6ac;
    padding: 12px;
    line-height: 21px;
}
.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.about-heading {
    padding-top: 45px;
    padding-bottom: 45px;
}
.about-p {
    padding: 8px;
}

/*===== SERVICES SECTION =====*/

.section-services {
    padding: 50px;
}
.service-img {
    width: 100%;
}
.buffer {
    background-color: white;
    padding: 10px;
}
.heading-text {
    font-size: 48px;
    font-weight: bold;
}
.service-text {
    padding: 15px;
}
.service-button button {
    background-color: #222222;
    border: none;
    color: white;
    padding: 35px 32px;
    font-size: 21px;
    margin-left: 15px;
    margin-bottom: 15px;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 14px;
}
.digital-transformation {
    background-color: #ffe6ac;
    line-height: 21px;
    grid-area: one;
}
.marketing {
    background-color: #ffe6ac;
    line-height: 21px;
    grid-area: two;
}
.video-production {
    background-color: #ffe6ac;
    line-height: 21px;
    grid-area: three;

}
.web-development {
    background-color: #ffe6ac;
    line-height: 21px;  
    grid-area: four;
}
.print {
    background-color: #ffe6ac;
    line-height: 21px;
    grid-area: five;
}

/*===== OUR VISION SECTION =====*/

.section-vision {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.vision-button button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-color: #c58b22;
    padding: 25px 25px;
    font-size: 21px;
    background-size: auto 100%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.vision-text {
    color: white;
    padding-left: 15px;
}

/*====== OUR TEAM SECTION =====*/

.section-team {
    padding: 50px;
}
.team-img {
    width: 100%;
}
.team-john {
    background-color: #ffe6ac;
    line-height: 21px;
    grid-area: a;
}
.team-bob {
    background-color: #ffe6ac;
    line-height: 21px;
    grid-area: b;
}
.team-text {
    padding: 15px;
}
h4 {
    padding-left: 15px;
    font-weight: bold;
}
hr {
    border: none;
    height: 2.5px;
    background: #c58b22;
    margin: 15px;
}

/*===== CONTACT SECTION =====*/

.contact-us {
    padding-bottom: 20px;
}
.input-box {
    width: 100%;
    padding: 5px;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
}
.message-input-box {
    width: 80%;
    padding:60px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.send-button button {
    background-color: #222222;
    border: none;
    color:#c58b22;
    font-size: 21px;
    padding: 5px;
    margin-top: 15px;
}
.section-contact {
    margin: 0 auto;
}
.hours {
    border: 1px solid black;
    padding: 15px;
}
table {
    width: 100%;
}
.table-top {
    background-color: #ffe6ac;
    text-align: center;
}
.contact-container {
    padding-left: 25px;
    padding-right: 30px;
}

/*===== FOOTER SECTION =====*/

footer {
    background-color: #222222;
    color: #c58b22;
    padding: 10px;
}
a {
    background-color: #222222;
    color: #c58b22;
}
.footer-text {
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 10px;
}

/*this just sets the width for accuracy to the mock up*/
/*do not put anything else in this media query!*/

@media screen and (min-width: 760px){
    .container {
        width: 706px;
    }
}

/*====== DESKTOP STYLES ======*/

@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
    .nav-links {
        display: flex;
        justify-content: space-evenly;
    }
    .logo {
        background-color: #222222;
    }
    nav ul li a {
        font-size: 20px;
    }
    ::placeholder {
        font-size: 20px;
    }
    h2 {
        font-size: 54px;
    }
    h1 {
        font-size: 81px;
        line-height: 112px;
    }
    /*===== WELCOME SECTION =====*/

    .section-welcome {
        padding-left: 90px;
        padding-right: 90px;
        background-position: center;
    }

    /*===== ABOUT SECTION =====*/

    .about-img {
        max-width: 30%;
        float: left;
    }
    .about-p {
        padding-left: 390px;
    }
    .about-heading {
        padding-left: 390px;
    }

    /*===== SERVICES SECTION =====*/
    h3 {
        font-size: 36px;
    }
    .service-grid-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "one two";
        grid-gap: 10px;
    }
    .service-grid-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "three four five";
        grid-gap: 10px;
    }

    /*===== OUR VISION SECTION =====*/
    .section-vision {
        background-position: center;
    }

    /*====== OUR TEAM SECTION =====*/

    .team-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "a b";
    }

    /*===== CONTACT SECTION =====*/
    .send-button button {
        font-size: 24px;
    }
    .message-grid {
        grid-area: contact;
    }
    .location-grid {
        grid-area: location;
    }
    .hours-grid {
        grid-area: hours;
    }
    .contact-grid {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "contact location"
                               "hours hours";
    }
}